<nav>
    <div>
        <ul>
            <li>
                <a href='#' title="Show Grid" id="gridButton" onclick="return false;">Show Grid</a>
            </li>
            <li>
                <a href="/" id="logo"><img src="/img/logo_top.png" /></a>
            </li>
            <li>
                <a id="navDownload" title="Download .Zip File" href='https://github.com/artofrawr/profoundgrid/archive/master.zip'>Download .Zip File</a>
                <a id="navGithub" title="Fork On Github" href='https://github.com/artofrawr/profoundgrid/'>Fork On Github</a>
                <a id="navFacebook" title="Share On Facebook" href='http://www.facebook.com/sharer.php?u=http://www.profoundgrid.com'>Share on Facebook</a>
                <a id="navTwitter" title="Share On Twitter" href='http://twitter.com/?status=http%3A%2F%2Fwww.profoundgrid.com+by+%40weareprofound'>Share on Twitter</a>
            </li>
        </ul>
    </div>
</nav>
